<div>
    <h1>FORM BINDING</h1>
    <!-- Un formulario siempre debe tener un di de angular
     con la igualdad a ngForm -->
    <form #userForm="ngForm" (ngSubmit)="recibirDatos()">
        <label>Introduzca nombre</label>
        <input type="text" name="cajanombre" 
        #cajanombre="ngModel"
        [(ngModel)]="user.nombre"
        ><br>
        <label>Introduzca apellidos</label>
        <input type="text" name="cajaapellidos"
        #cajaapellidos="ngModel"
        [(ngModel)]="user.apellidos"><br>
        <label>Introduzca edad</label>
        <input type="number" name="cajaedad"
        #cajaedad="ngModel"
        [(ngModel)]="user.edad"
        ><br>
        <!-- los controles deben tener una etiqueta ngModel apuntando al modelo -->
        <!-- Para indicar model binding [(ngModel)="Mi modelo"] -->
        <button>Enviar Datos</button>
    </form>
    <h2>Nombre: {{user.nombre}}, Apellidos: {{user.apellidos}},Edad: {{user.edad}}</h2>
</div>